.sapTntToolHeader .sapMTitle {
    text-shadow: none;
    font-family: "72-Semibold","72-Semiboldfull","72","72full",Arial,Helvetica,sans-serif;
    font-size: 1rem;
    line-height: 1.625rem;
    color: black !important;
  }
 .page_title{
  font-weight: bold;
 } 